* {
	font-family: 'Dosis', 'Oxygen', sans-serif;
}

.weather-card {
	/*margin: 1em 4em 1em 4em;*/
	padding: 1em 1em 1em 1em;
	max-width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background-color: #b2ebf2;
	border-radius: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
	/*border: 3px double black;*/
}

.weather-card:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	height: 20px;
	width: 20px;
	background-color: #b2ebf2;
	box-sizing:border-box;
	transform: rotate(45deg) translate(-70%);
	border-bottom: inherit;
	border-right: inherit;
	box-shadow: inherit;
}

	#weather-location {
		grid-column: 1 / 3;
		grid-row: 1;
		margin-top: 0.5em;
		margin-left: -1em;
		margin-right: 1em;
		/*border-style: solid;*/
	}
		#weather-city {
			font-size: 1.5em;
		}
/*		#weather-zipcode {
			font-size: 1em;
		}*/

	#weather-icon {
		grid-column: 3;
		grid-row: 1;
	}
	
	#icon {
		width: 50px;
	}

	#weather-status {
		grid-column: 1/3;
		margin-left: -1em;
		margin-right: 1em;
		/*border-style: solid;*/
	}

	#weather-f {
		grid-column: 3;
		/*border-style: solid;*/
		font-size: 2em;
	}

.pug {
}

#pug {
}