* {
	font-family: 'Dosis', 'Oxygen', sans-serif;
}

.weather-card {
	margin: 1em 4em 1em 4em;
	padding: 1em 1em 1em 1em;
	background-color: #d9f3f9;
	border-radius: 1em;
	display: grid;
/*	grid-gap: 10px;
*/		grid-template-columns: 1fr 1fr 1fr;
}

	#weather-location {
		grid-column: 1 / 3;
		grid-row: 1;
		margin-top: 0.5em;
		margin-left: -1em;
		margin-right: 1em;
		/*border-style: solid;*/
	}
		#weather-city {
			font-size: 1.5em;
		}
/*		#weather-zipcode {
			font-size: 1em;
		}*/

	#weather-icon {
		grid-column: 3;
		grid-row: 1;
	}
	
	#icon {
		width: 50px;
	}

	#weather-status {
		grid-column: 1/3;
		margin-left: -1em;
		margin-right: 1em;
		/*border-style: solid;*/
	}

	#weather-f {
		grid-column: 3;
		/*border-style: solid;*/
		font-size: 2em;
	}

